body { padding-top: 7vh; }

div.panel.panel-default.suggestions{
  height: 80vh;
  margin-top: 20px;
}

textarea.form-control.text{
  height: 80vh;
  margin-top: 20px;
}

input.btn.btn-default.submit-button{
  margin-top: 10px;
 display: block;
 margin-left: auto;
}

nav.navbar.navbar-default{
  margin-bottom: 0px;

}

a.btn.btn-default.btn-lg{
  height: 75px;
  width: 200px;
}

.divs
{
  style="height: 93vh;
  margin-top:0px
}

p.header
{
  font-family:'Open Sans';
  font-weight:300;
  color:#fff;
  margin-top:60px;
  margin-left:120px;
  font-size:24px;
}


.glyphicon{
  font-size: 150px;

}
